# Flutter/Dart 临时文件喵✨
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# 安卓临时文件喵awa
.gradle/
local.properties
**/GeneratedPluginRegistrant.java

# 各种 ID / 证书文件
*.keystore
*.jks

# IDE 设置喵
.idea/
.vscode/
*.iml

# 日志喵
*.log
